.header-container, .header-container--home {
  top: 0;
  z-index: 6;
  position: sticky;
  position: -webkit-sticky;
  width: 100vw;
  min-height: 16.2vh;

  padding: 1rem 0 1rem 0;
  margin: 0;

  border-bottom: 1px solid #eaecef;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: #ffff;
}

.header-container--home {
  min-height: 8.2vh;
  padding-right: 2rem;
}