.navbar,
.navbar--home {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-bottom: 0.4rem;
}

.navbar__link {
    height: fit-content;
    color: #202020;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 110%;
    font-weight: 400;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-decoration: none;
    margin-right: 4rem;
}

.navbar__link:hover {
    padding-bottom: calc(0.3em - 1.4px);
    border-bottom: 1.5px solid #202020;
}

@media (max-width: 781px) {

    .navbar__link {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }

    .navbar__link:hover {
        padding-bottom: calc(0.1em - 1.4px);
    }
}

@media (max-width: 319px) {

    .navbar,
    .navbar--home {
        margin-left: 2rem;
    }

    .navbar__link {
        margin-right: 2rem;
    }
}