.word-container__examples-container {
    height: fit-content;
    margin: 2rem 0 3rem 0;
}

ul.word-container__examples-list {
    list-style-type: none;
    text-decoration: none;
    margin-top: 0;
    padding: 0;
}

li.word-container__example,
li.word-container__example--convo,
li.word-container__example--phrase {
    font-family: 'NamumSquare';
    margin: 1.4rem 0 1.4rem 0;
    font-weight: 300;
    font-size: 115%;
    padding-left: 0;
    font-weight: 500;
}

.word-container__example--phrase {
    margin: 0;
    height: 0;
    display: none;
}

.word-container__example--convo {
    line-height: 2rem;
}

.word-container__example b,
.word-container__example--convo b,
.word-container__example--phrase b {
    font-family: 'NamumSquare';
    padding: 2px 0 2px 0;
    background-color: #fff5e2;
}

@media (max-width: 565px) {
    .word-container__examples-list {
        padding: 1em;
    }

    .word-container__examples-list {
        margin: 0;
    }

    .word-container__examples-container {
        margin: 1rem 0 1rem 0;
    }
}