.word-container__examples-container {
    height: fit-content;
    margin: 2rem 0 3rem 0;
}

ul.word-container__examples-list {
    list-style-position: outside;
    text-decoration: none;
    margin-top: 0;
    padding: 0;
    padding-left: 1.5rem;
}

li.word-container__example,
li.word-container__example--convo,
li.word-container__example--phrase {
    font-family: "NamumSquare";
    line-height: 34px;
    margin: 1rem 0 1rem 0;
    font-weight: 300;
    font-size: 110%;
    padding-left: 0.5rem;
    font-weight: 500;
}

.word-container__example--phrase {
    margin: 0;
    height: 0;
    display: none;
}

.word-container__example b,
.word-container__example--convo b,
.word-container__example--phrase b {
    text-decoration: underline dotted;
    font-family: "NamumSquare";
}

@media (max-width: 565px) {
    .word-container__examples-list {
        padding: 1em;
    }

    .word-container__examples-list {
        margin: 0;
    }

    .word-container__examples-container {
        margin: 1rem 0 1rem 0;
    }
}
