.word-container__reference-container {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-top: 1rem;
}

.word-container__reference-body {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.word-container__reference-type {
    border-radius: 5px;
    overflow-wrap: break-word;
    margin: 0.4rem 1rem 0.4rem 0;
}

.word-container__reference-value {
    margin: 0.4rem 0 0.4rem 0;
    min-width: 10rem;
    font-size: 110%;
}

.word-container__reference-link {
    color: #000;
    font-size: 90%;
    margin-right: 0.4rem;
}

@media (max-width: 565px) {
    .word-container__reference-container {
        margin: 1rem 0 1rem 0;
    }
}