.sort-options-container {
    z-index: 5;
    min-width: 10.8rem;
    background-color: #ffff;
    overflow: hidden;
    transition: 0.3s ease;
    list-style: none;
    border-radius: 10px;
    box-shadow:
        0 3px 3px -1px rgb(0 0 0 / 2%),
        0 8px 30px 1px rgb(0 0 0 / 4%),
        0 3px 14px 2px rgb(0 0 0 / 8%);
}

.sort-options-container__list {
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    list-style-position: outside;
}

@media (max-width: 486px) {
    .sort-options-container {
        margin-top: 1em;
    }
}