.sort-option-container__sort-option {
    padding: 0.3rem;
}

.sort-option-container__sort-option:hover {
    border-radius: 5px;
    background-color: #e8f5fb;
    cursor: pointer;
}

.sort-option-container__sort-option--active {
    cursor:default;
    padding: 0.3rem
}