.sort-option-container__sort-option {
    padding: 0.3rem;
}

.sort-option-container__sort-option:hover {
    border-radius: 5px;
    background-color: #f1f3f5;
    cursor: pointer;
}

.sort-option-container__sort-option--active {
    cursor: default;
    padding: 0.3rem;
}
