.footer__container {
    font-size: 65%;
    line-height: 1.1rem;
    font-weight: 200;
    height: calc(12vh - 1px);
    width: 100%;
    border-top: 1px solid #eaecef;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__container--content {
    color: rgb(149, 149, 149);
    left: 0;
    max-width: 40rem;
    margin: 1rem 2rem 1rem 2rem;
}