html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #202020;
    font-weight: 400;
    font-family: "Modern Era", system-ui, -apple-system, BlinkMacSystemFont,
        sans-serif !important;
    border-color: #eaecef;
    display: block;
    letter-spacing: 0.015em;
    font-weight: 400;
}

#__next {
    width: 100%;
    height: 100%;
}

main {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    font-weight: 400;
    font-size: 100%;
    color: inherit;
}

input[type="text"] {
    font-family: "Modern Era", system-ui, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", Helvetica, sans-serif !important;
}

button {
    font-size: 100%;
}

h4 {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    text-align: center;
    margin: 0;
    margin: 0 1rem 2rem 1rem;
    font-family: "Modern Era";
    font-weight: 400;
    text-shadow: 1px 1.5px rgb(149, 149, 149);
}

a {
    color: #202020;
}

a:hover {
    cursor: pointer;
}

p {
    line-height: 1.4em;
}

sup {
    margin-left: 0.25rem;
    font-size: 82%;
}

br {
    height: 5em;
}
